.FamousProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #c48f7f;
  padding: 20px 0;
  flex-direction: column;
}

/* slideshow css */

.FamousProjectContainer {
  width: 100%;
  padding-top: 30px;
}

.FamousProjectContainer img {
  height: 500px;
}
