.ImageWithDetails {
  height: auto;
  background-image: url("../assests/background2.jpg");
  background-size: cover;
  background-position: center;
  object-fit: contain;
  aspect-ratio: 3/2;
  width: 100%;
  padding-bottom: 10px;

}
.ImageWithDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.ImageWithDetailsContainerLeft {
  width: 26%;
  background-color: #535353;
  border-radius: 20px;
  /* transition */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.ImageWithDetailsContainerLeft-visible{
  opacity: 1;
  transform: translateY(0);
}
.ImageWithDetailsContainerRight {
  width: 26%;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 20px;
  /* transition */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.ImageWithDetailsContainerRight-visible {
    opacity: 1;
    transform: translateY(0);
}
.ImageWithDetailsHeading {
  text-align: center;
}
.ImageWithDetailsContainer li {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}
.ImageWithDetailsContainerRight li {
  line-height: 16.5px;
  font-size: 14px;
  color: #535353;
}
