.roleModel {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  h2 {
    text-align: center;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 30px;
  }
}
.roleModel-visible {
  opacity: 1;
  transform: translateY(0);
}
.roleModelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.roleModelContainerleft,
.roleModelContainermiddle,
.roleModelContainerright {
  flex: 1;
}
.roleModelContainerleft,
.roleModelContainerright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 0;
  h3 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--text-color);
  }
  p {
    color: var(--title-color);
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 22px;
  }
  img {
    width: 60%;
    background-size: cover;
    aspect-ratio: 3/2;
    margin: 10px 0;
    background: transparent;
    margin: 50px 0;
    border-radius: 30px;
  }
}
.roleModelContainermiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 400px;
    }
}
@media screen and (max-width: 900px) {
    .roleModel {
        h2 {
            font-size: 16px;
            text-align: center;
        }
    }
  .roleModelContainer {
    flex-direction: column;
    justify-content: center;
  }
  .roleModelContainerleft,
  .roleModelContainermiddle,
  .roleModelContainerright {
    width: 100%;
  }
  .roleModelContainerleft,
  .roleModelContainerright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  h3 {
    font-size: 14px;
    letter-spacing: 1px;
  }
  img {
    margin: 20px 0;
    border-radius: 10px;
  }
}
}
@media screen and (max-width: 500px) {
    .roleModel {
        img {
            width: 300px;
        }
    }
}
@media screen and (max-width: 350px) {
    .roleModel {
        img {
            width: 200px;
        }
    }
}