.slideShow {
  /* background-color: #9e8261; */
  background-color: #103959;
  /* height: 100vh; */
  width: 100%;
}
.slideShow_Container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.slideShow_heading,
.slideShow_Sub_heading {
  letter-spacing: 1px;
  text-align: center;
  padding: 5px;
  line-height: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.slideShow_heading {
  font-weight: 800;
  color: #bfbfbf;
  font-size: 20px;
}

/* image slideshow css */
.slide-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.slide-container-visible,
.slideShow_heading-visible,
.slideShow_Sub_heading-visible {
  opacity: 1;
  transform: translateY(0);
}
